<!DOCTYPE html>
<html lang="en">
<head>
    <title>Link Player</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div id="grid">
        <div class="item">
            <div class="main_text">ASMR Cryo Spa Triggers for Sleep – Dry Ice Tingles, Glass Sounds, Liquids & More</div>
            <div class="sub_text">https://www.url_example.com/fqefefe</div>
            <button class="play">Play</button>
            <button class="delete">Delete</button>
        </div>

        <div class="item">
            <div class="main_text">Pouya - Void [OFFICIAL MUSIC VIDEO]</div>
            <div class="sub_text">https://www.youtube.com/watch?v=fnJqb10GiAY</div>
            <button class="play">Play</button>
            <button class="delete">Delete</button>
        </div>
        <div class="item">
            <div class="main_text">Pouya ft. Ghostemane, Shakewell & Erick The Architect-Death By Dishonor</div>
            <div class="sub_text">https://soundcloud.com/aiden-moneciarz/hewra-musze-juz-leciecog</div>
            <button class="play">Play</button>
            <button class="delete">Delete</button>
        </div>

        <div class="item">
            <div class="main_text">Title example</div>
            <div class="sub_text">https://www.youtube.com/watch?v=eForWfn010Q</div>
            <button class="play">Play</button>
            <button class="delete">Delete</button>
        </div>
        <div class="item">
            <div class="main_text">RAMIREZ - P.O.P [Paper Over Pussy]</div>
            <div class="sub_text">https://www.youtube.com/watch?v=59aEkwzXmDw</div>
            <button class="play">Play</button>
            <button class="delete">Delete</button>
        </div>

        <div class="item">
            <div class="main_text">Iron Maiden - Fear of The Dark (HQ)</div>
            <div class="sub_text">https://www.youtube.com/watch?v=p32b5nNq1zw</div>
            <button class="play">Play</button>
            <button class="delete">Delete</button>
        </div>
    </div>

    <div id="player_zone">

    </div>

    <script>
        let items = document.getElementsByClassName("item");
        for(let idx=0; idx<=items.length; idx++){
            console.log(items[idx]);
        }
    </script>
</body>
</html>